@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap'); 


:root {
    --font-famaly: 'Open Sans', sans-serif;
    --font-family2:'Roboto', sans-serif;
    --primary-color:#000000;
    --second-color:#150050;
    --terceira-color:rgb(243, 243, 243);
}
.conteiner-menu{
    width: 100%;
    height: 10em;
    background-color: var(--primary-color);

}

.conteiner-menu img {
    position: absolute;
  width: 10em;
    margin-left: 4em;
}

nav {
   width: 48%;
   position: absolute;
   left: 60em;
   top: 8em;
}

nav ul {
    display: inline;
    color: var(--terceira-color);
    padding-left: 4em;
    font-size: 24px;
   
    
}
nav a {
    text-decoration: none;
    color: var(--font-famaly);
}

.foto-banner{
    width: 100%;
    height: 47em;
   
}
.titulo-resumo {
    font-size: 36px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1.2em;
}

.conteiner-filmes {
    width: 80%; 
    margin-left: 10em;
   
   
}

.conteiner-filmes img {
    width: 50%;
    display: inline;
}
.resumo {
   width: 40%;
   margin-top: 2em;
   margin-left: 6em;
   height: 22em;
   vertical-align: top;
   display: inline-block;
}

.resumo p{
   margin-top: 2em;
    font-size: 22px;
    letter-spacing: 2px;
    line-height:1.5em;
 }

 /* Formatação a Direita */

 .conteiner-filmes-direita {
    width: 80%; 
    margin-left: 10em;
   
 }
 
 .resumo-texto { 
    width: 40%;
    height: 22em;
    vertical-align: top;
    
    display: inline-block;
        margin-left: 6em;
 }

 .resumo-texto p{
    padding-top: 5em;
     font-size: 22px;
     letter-spacing: 2px;
     line-height:1.5em;
   
  }


 .conteiner-filmes-direita img {
    width: 16.4em;
    float: right;
    margin-right: 16em;
 }

 .rodape {
        width: 100%;
        height: 4em;
        background-color: var(--primary-color);
        color:var(--terceira-color);
        font-size: 2em;
        text-align: center;        
        padding-top: 1.4em;
        margin-top: 8em;

 }

 /* Botão da pagina Filmes */

 .btn {
    margin-top: 1em;
    width: 12em;   
    height: 4em;
    border: none;
    background-color: var(--primary-color);
    
 }
 .btn a {
    text-decoration: none;
    color: var(--terceira-color);
    font-size: 1.2em;
 }

 /* Formatação do Forms */
.titulo-forms {
    font-size: 40px;
    text-align: center;
    margin-top: 1.4em;
}

 .formulario {   
    width: 50%;
    position: absolute;
    left: 30em;
  top: 15em;
  height: auto;
 }
 label {
    width: 100%;
    font-size: 20px;
    color:var(--primary-color) ;
    display: block;
    margin-bottom: 8px;
    padding-top: 48px;
    font-family: var(--font-family2);
    font-weight: bolder;
 }
 input {
    width: 99.2%;
    height: 4em;
    margin-bottom: 14px;
    border-top: none;
    border-left: none;
    border-right: none;
     }
     textarea {
        width: 99.4%;
     }
.btn-forms {
    width: 100%;
    height: 4em;
    margin-top: 1em;
    background-color: var(--primary-color);
    color: var(--terceira-color);
    font-size: 20px;
}

 /* Formatação alerta */

 .alerta {
    background-color: var(--primary-color);
    width: 40%;
    height: 30em;
    position: absolute;
    top: 22em;
    left: 35em;
   }

 .alerta p {
    font-size: 30px;
    color: var(--terceira-color);
    margin-top: 1em;
    margin-left: 2em;
 }

 .btn-confirmar {
   width: 12em;
   height: 3em;
   margin-top: 8em;
   margin-left: 38%;
   font-size: 1em;
   border: none;
   font-weight: bold;
 }